/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */
@layer components {
    .welcome-headline {
        @apply text-slate-700;
    }
}

@layer base {
    html {
      font-family: adobe-garamond-pro, system-ui, sans-serif;
    }
    .prose h1 {
        font-family: oxygen, system-ui, sans-serif !important;
        font-size: 2.1em !important;
    }
    .prose {
        max-width: 90ch !important;
    }
    .prose-xl {
        font-size: 1.32em !important;
    }
    .hot-potatoes {
        font-family: Lobster;
        font-size: 3em;
        margin-top: 5px;
        color: indianred;
    }
}